@{
}

@model IEnumerable<string>

<div class="container">

    <div class=" d-flex btn-group ">
        <a asp-controller="Home" asp-action="Index" asp-route-bookCategory="" asp-route-pageNum="1" class="btn btn-outline-secondary">Home</a>
    </div>


    @foreach (string c in Model)
    {
        <div class="d-flex btn-group">
            <a asp-controller="Home" asp-action="Index" asp-route-bookCategory="@c" asp-route-pageNum="1" class="btn @(ViewBag.SelectedType == c ? "btn-primary" : "btn-outline-secondary")">@c</a>
        </div>
    }
       
</div>
