@{
    ViewData["Title"] = "Home Page";
}
@model BooksViewModel



<br />

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}
    


<div page-model="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-selected="btn-primary" page-class-normal="btn-outline-dark" page-class-enabled="true"></div>
