@page
@model Mission7Assignment.Pages.OrderCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks! Your order has been submitted. </h2>
    <p>You can expect it to be delivered within 8-12 business days</p>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
